body {
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}
.bg-primary, .btn-teal {
    background: teal !important;
}
a.active, .btn-warning {
    background: rgb(236, 171, 50) !important;
    color: white !important;
}
p,th {
    opacity: .8;
}
.hide {
    display: none;
}
.align-middle {
    vertical-align: middle;
}
.col-1-5 {
    width: 20% ;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.hide {
    display: none;
}
#history-table th {
    width: 8em;
}
